@charset "UTF-8";
body,
html {
  height: 100%;
  font-size: 16px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
}
section:not(#header) {
  padding: 100px 150px;
  text-align: center;
}
section:not(#header) .content {
  margin: 0 auto;
  max-width: 750px;
  text-align: left;
}
section:not(#header) .content .title {
  display: inline-block;
  font-size: 2em;
  font-family: 'PT Serif', STZhongsong, 'Microsoft Yahei', serif;
}
section:not(#header) .content .subtitle {
  position: relative;
  top: 3px;
  margin-left: 5px;
  color: #c05b4d;
  font-size: 20px;
  font-family: 'PT Serif', STZhongsong, 'Microsoft Yahei', serif;
  font-variant: small-caps;
}
section:not(:last-child) {
  border-bottom: 1px solid #eee;
}
#header {
  height: 100%;
}
#header .menu {
  position: fixed;
  top: 35px;
  right: 30px;
  z-index: 10;
}
#header .menu:hover .toggle {
  padding: 9px;
  border: 1px solid #efefef;
  border-bottom: 1px solid #fff;
  z-index: 10;
}
#header .menu:hover .list {
  display: block;
}
#header .menu .toggle {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  border-radius: 2px;
}
#header .menu .toggle .icon-menu {
  width: 16px;
  height: 16px;
}
#header .menu .list {
  display: none;
  position: relative;
  top: 35px;
  right: 0px;
  padding: 20px 25px;
  list-style: none;
  border: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  box-shadow: 0 1px 1px 0 #ddd;
  background-color: #fff;
  font-size: 15px;
}
#header .menu .list .list-item {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000;
  text-decoration: none;
}
#header .menu .list .list-item:hover {
  color: #c05b4d;
  text-decoration: underline;
}
#header .heading {
  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -245px;
}
#header .heading .logo {
  font-size: 120px;
  font-family: 'PT Serif', STZhongsong, 'Microsoft Yahei', serif;
  text-align: center;
  text-shadow: 3px 4px 3px #c05b4d;
}
#information .content .info-list {
  list-style: none;
  margin-top: 25px;
  margin-bottom: 25px;
}
#information .content .info-list .info-item {
  margin: 10px 0px;
}
#information .content .info-list .info-item span {
  display: inline-block;
  width: 80px;
  margin-right: 10px;
  color: #c05b4d;
  text-transform: capitalize;
}
#information .content .info-list .info-item span.name {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}
#information .content .info-list .info-item a {
  color: #000;
  text-decoration: none;
}
#information .content .info-list .info-item a:hover {
  color: #c05b4d;
  text-decoration: underline;
}
#education .edu-list {
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
}
#education .edu-list .edu-item {
  margin: 20px 0px;
}
#education .edu-list .edu-item::before {
  content: '#';
  margin-right: 5px;
  font-size: 22px;
  color: #c05b4d;
}
#education .edu-list .edu-item .name {
  margin-right: 5px;
  font-size: 20px;
}
#education .edu-list .edu-item .time {
  color: #c05b4d;
  font-size: 14px;
}
#education .edu-list .edu-item .major {
  display: inline-block;
  font-size: 20px;
  margin-left: 30px;
}
#skills .skill-list {
  margin-top: 25px;
  margin-bottom: 25px;
}
#skills .skill-list .type {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #c05b4d;
  font-size: 26px;
  font-family: 'PT Serif', STZhongsong, 'Microsoft Yahei', serif;
  text-transform: capitalize;
}
#skills .skill-list .skill-item {
  margin-bottom: 15px;
}
#skills .skill-list .skill-item .skill-title {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: 'PT Serif', STZhongsong, 'Microsoft Yahei', serif;
}
#skills .skill-list .skill-item .skill-title::before {
  content: "#";
  margin-right: 5px;
  color: #c05b4d;
  font-size: 20px;
}
#skills .skill-list .skill-item .desc {
  margin-bottom: 5px;
  line-height: 24px;
}
#experience .experience {
  margin-top: 30px;
  margin-bottom: 30px;
}
#experience .experience .type {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #c05b4d;
  font-size: 26px;
  font-family: 'PT Serif', STZhongsong, 'Microsoft Yahei', serif;
  text-transform: capitalize;
}
#experience .experience .project {
  margin-bottom: 20px;
}
#experience .experience .project .link {
  display: inline-block;
  margin-right: 5px;
  color: #c05b4d;
  font-size: 20px;
}
#experience .experience .project .name {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: 'PT Serif', STZhongsong, 'Microsoft Yahei', serif;
}
#experience .experience .project .desc {
  margin-bottom: 5px;
  line-height: 24px;
}
#footer {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  text-align: center;
}
#footer a {
  color: #c05b4d;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  section:not(#header) {
    padding: 25px;
  }
  #header .menu {
    top: 15px;
    right: 15px;
  }
  #header .heading {
    margin-left: -130px;
  }
  #header .heading .logo {
    font-size: 60px;
  }
  #education .edu-list .edu-item {
    margin-top: 10px;
  }
  #education .edu-list .edu-item .major {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
  }
}
@media print {
  section:not(#header) {
    padding: 10px 30px 0px 30px;
  }
  #header {
    display: none;
  }
}
