mixin title(section_id)
  if languages == 'en-US'
    h1.title
      != section_names[section_id].en
  else
    h1.title
      != section_names[section_id].ch
    span.subtitle
      != section_names[section_id].en
    
