section#education
  div.content
    h1.title 教育经历
    span.subtitle Education
    ul.edu-list
      each edu in education
        li.edu-item
          span.name
            != edu.name
          span.time
            != edu.start + " - " + edu.end
          span.major
            != edu.major
