section#experience
  div.content
    +title('experience')
    each exp in experience
      div.experience
        each project in exp.item
          div.project
            h2.name
              != project.name
            ul.desc
              each desc in project.description
                li.desc-item!= desc
