section#header
  div.menu
    div.toggle
      div.icon-menu
        i.fa.fa-bars
    ul.list
      +nav('information')
      +nav('education')
      +nav('skills')
      +nav('experience')
      
  div.heading
    div.logo
      != logo
