section#information
  div.content
    h1.title 个人信息
    span.subtitle Information
    ul.info
      each info, key in information
        li.info-item
          span!= key
          if key == 'email'
            a(href="mailto:#{info}")!= info
          else if key == 'blog' || key == 'github'
            a(href="#{info}")!= info
          else 
            != info
    
