section#information
  div.content
    h1.title 个人信息
    span.subtitle Information
    ul.info-list
      each info, key in information
        li.info-item
          - var key = key + ': '
          span!= key
          if key == 'email'
            a(href="mailto:#{info}")!= info
          else if key == 'blog' || key == 'github'
            a(href="#{info}")!= info
          else 
            != info
    
