aside
  ul.links
    if languages == "zh-CN"
      li.link-item
        a(href="./PDF/resume_zh.pdf") PDF
      li.link-item
        a(href="./en.html") English
    else
      li.link-item
        a(href="./PDF/resume_en.pdf") PDF
      li.link-item
        a(href="./") 中文
