section#top
  div.menu
    div.toggle
      div.icon-menu
    ul.list
      li: a.list-item(href="#information") Information
      li: a.list-item(href="#education") Education
      li: a.list-item(href="#skills") Skills
      li: a.list-item(href="#experience") Experience
  div.heading
    div.logo
      != logo
