section#top
  div.menu
    div.toggle
      div.icon-menu
    ul.list
      li: a.list-item(href="#information") 个人信息
      li: a.list-item(href="#education") 教育经历
      li: a.list-item(href="#skill") 掌握技能
      li: a.list-item(href="#experience") 项目经验
  div.heading
    div.logo
      != logo
