body, html {
  height: 100%;
  font-family: @theme-family;
}

* {
  margin: 0px;
  padding: 0px;
}

section {
  &:not(#top) {
    padding: 100px 150px;
    text-align: center;

    .content {
      margin: 0 auto;
      max-width: 750px;
      text-align: left;
    }
  }

  &:not(:last-child) {
    border-bottom: @section-border;
  }
}
