#education {
  .edu-list {
    margin-top: 25px;
    margin-bottom: 25px;
    list-style: none;

    .edu-item {
      margin: 20px 0px;

      &::before {
        content: '#';
        margin-right: 5px;
        font-size: 22px;
        color: @theme-color;
      }

      .name {
        margin-right: 50px;
        font-size: 18px;
      }

      .time {
        color: @theme-color;
        font-size: 14px;
      }

      .major {
        display: inline-block;
        font-size: 18px;
        margin-left: 50px;
      }
    }
  }
}
