#education {
  .edu-list {
    list-style: none;

    .edu-item {
      margin: 10px 0px;

      &::before {
        content: '#';
        margin-right: 5px;
        font-size: 20px;
        color: @theme-color;
      }

      .name {
        font-size: @theme-font-size;
        display: inline-table;
        width: 180px
      }

      .time {
        color: @theme-color;
        font-size: 14px;
      }

      .major {
        font-size: @theme-font-size;
        display: inline-table;
        width: 180px
      }
    }
  }
}
