#experience {
  .experience {
    .project {
      margin-bottom: 5px;
      .name {
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px;
        font-family: @theme-serif;
      }

      .desc {
        .desc-item {
          margin-left: 20px;
          margin-bottom: 8px;
          line-height: 24px;
        }
      }
    }
  }
}
