#skills {
  .skill-list {
    margin: 25px 0px;

    .type {
      display: block;
      margin: 10px 0px;
      color: @theme-color;
      font-size: 26px;
      font-family: @theme-serif;
      text-transform: capitalize;
    }

    .skill-item {
      margin-bottom: 15px;

      .skill-title {
        display: block;
        margin: 5px 0px;
        font-size: 20px;

        &::before {
          content: "#";
          margin-right: 5px;
          color: @theme-color;
          font-size: 20px;
        }
      }

      .desc {
        margin-bottom: 5px;
        line-height: 24px;
      }
    }
  }
}
