extends ./partial/layout
include ./mixins/util

block header
  include ./partial/header
  
block information
  include ./partial/information

block education
  include ./partial/education

block skills
  include ./partial/skills

block experience
  include ./partial/experience

block footer
  include ./partial/footer
