extends ./partial/layout

block top
  include ./partial/top
  
block information
  include ./partial/information

block education
  include ./partial/education

block skills
  include ./partial/skills

block experience
  include ./partial/experience
